body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

form{
    font-size: 0.85em;
    text-align: center;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 15px rgb(66, 66, 66);
    border-radius: 3%;
    width: 25em;
    height: 27em;
}
@media screen and (min-width: 40em) {
    form{
        font-size: 1.5em;
    }    
}
#title{
    color: rgb(48, 105, 204);
    padding-top: 7%;
    margin-bottom: 4%;
    font-size: 2.3em;
    
}
#inputArea{
    width: 7em;
    height: 1.25em;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 5%;
}
.unit{
    font-weight: bold;
    font-size: 1.8em;
}
#calc{
    font-size: 2em;
    margin-top: 5%;
    padding: 5px 10px;
    background-color: rgb(201, 47, 47);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#calc:hover{
    background-color: rgb(245, 67, 67);
}
#result{
    margin-top: 0.5em;
    font-size: 2.7em;
    font-weight: bold;
}